<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
      <a id="logo" class="logo<%=(theme.logo_text?' logo-text':'')%>"><%=(theme.logo_text?theme.logo_text:'')%></a>
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% if (config.multilingual) { %>
          <%- list_head_alternates() %>
          <%- list_alternates({
            prepend: '<div>',
            element: '<a class="main-nav-link %currentTag" href="%url" hreflang="%lang">'+theme.lang_name+'</a>',
            append: '</div>',
            showCurrent: false
          }) %>
        <% } %>
      </nav>
    </div>
  </div>
</header>